/* 
  Global Styling & Overrides
*/

html {
  position: relative;
  min-height: 100%;
}

body {
  @include body-font;
  overflow-x: hidden;
  height: 100%;
}

hr {
  border-width: 3px;
  border-color: $secondary;
}

.btn-xlg {
  padding: 10px 40px;
}


.bg-gradient-primary {
  background-color: $primary;
  background-image: linear-gradient(to right, darken($primary, 15%), lighten($primary, 10%));;
  background-size: cover;
}

.bg-gradient-success {
  background-color: $success;
  background-image: linear-gradient(180deg, $success 10%, darken($success, 15%) 100%);
  background-size: cover;
}

.bg-gradient-info {
  background-color: $info;
  background-image: linear-gradient(180deg, $info 10%, darken($info, 15%) 100%);
  background-size: cover;
}

.bg-gradient-warning {
  background-color: $warning;
  background-image: linear-gradient(180deg, $warning 10%, darken($warning, 15%) 100%);
  background-size: cover;
}

.bg-gradient-danger {
  background-color: $danger;
  background-image: linear-gradient(180deg, $danger 10%, darken($danger, 15%) 100%);
  background-size: cover;
}

.bg-gradient-secondary {
  background-color: $secondary;
  background-image: linear-gradient(90deg, $secondary 10%, darken($secondary, 15%) 100%);
  background-size: cover;
}

#connect {
  ul.list-social {
    margin-bottom: 0;
    li {
        a {
            font-size: 30px;
            line-height: 70px;
            display: block;
            width: 70px;
            height: 70px;
            color: white;
            border-radius: 100%;
        }
        &.social-twitter {
            a {
                background-color: $brand-twitter;
                &:hover {
                    background-color: darken($brand-twitter, 10%);
                }
            }
        }
        &.social-facebook {
            a {
                background-color: $brand-facebook;
                &:hover {
                    background-color: darken($brand-facebook, 10%);
                }
            }
        }
        &.social-instagram {
            a {
                background-color: $brand-instagram;
                &:hover {
                    background-color: darken($brand-instagram, 10%);
                }
            }
        }
    }
  }
}

#subscribe {
  input[type="email"]{
    margin: 0;
    padding: 20px;
    height: 40px;
    width: 250px;
    outline: none;
    border: none;
    border-bottom: 2px solid $cyan;
  }
  .btn-subscribe {
    background:#e8491d;
    border: 0;
    color:#ffffff;
    padding-right: 18px;
    height: 40px;
    transition: 0.4s;
    &:hover {
      background: darken($color: #e8491d, $amount: 10);
    }
  }
}